.container {
    padding: 20px;
    background-color: #f9f9f9;
}

.tableContainer {
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
}

.tableHeader {
    background-color: #007bff;
    color: white;
    padding: 10px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}

.tableHeader:hover {
    background-color: #0056b3;
}

.columnsContainer {
    background-color: #f1f1f1;
    padding: 10px;
}

.columnsContainer ul {
    list-style-type: none;
    padding: 0;
}

.columnsContainer li {
    padding: 5px;
    border-bottom: 1px solid #ccc;
}

.columnsContainer li:last-child {
    border-bottom: none;
}
