/* Layout.module.css */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

.container {
    display: flex;
    height: 100vh;
    background-color: #f4f4f9;
    font-family: 'Poppins', sans-serif;
}

.sidebar {
    width: 260px;
    background-color: #1f2937;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
}

.menuTitle {
    font-size: 1.2rem;  /* Tamaño más pequeño */
    margin-bottom: 20px;
    text-align: center;
    font-weight: 600;
    color: #f9fafb;
    letter-spacing: 0.05em;
}

.navMenu {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.navLink {
    display: flex;
    align-items: center;
    padding: 10px 15px;  /* Reducido el padding */
    margin-bottom: 8px;  /* Espaciado más compacto */
    font-size: 0.85rem;  /* Tamaño de fuente más pequeño */
    color: #f9fafb;
    border-radius: 6px;  /* Ajustado para un estilo más suave */
    transition: all 0.3s ease;
    text-decoration: none;
    background-color: transparent;
}

.navLink:hover {
    background-color: #3b82f6;
    color: #fff;
}

.navLink i {
    margin-right: 10px;  /* Menos espacio entre el ícono y el texto */
    font-size: 1rem;  /* Tamaño de ícono ligeramente reducido */
}

.navLink.active {
    background-color: #3b82f6;
    color: white;
}

.folder {
    background-color: #111827;
    border-radius: 6px;
    padding: 10px 15px;
    margin-bottom: 10px;
    color: #d1d5db;
    font-size: 0.85rem;  /* Tamaño más pequeño */
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    transition: background-color 0.3s ease;
    color: #f9fafb;
}

.folder:hover {
    background-color: #3b82f6;
    color: white;
}

.folderTitle {
    display: flex;
    align-items: center;
}

.folderTitle i {
    margin-right: 10px;
}

.chevron {
    font-size: 0.8rem;
    transition: transform 0.3s ease;
}

.subMenu {
    list-style: none;
    padding-left: 20px;
    margin-top: 10px;
    display: none; /* Oculto por defecto */
}

.showSubMenu {
    display: block; /* Muestra el submenú cuando se activa */
}

.subNavLink {
    color: #9ca3af;
    text-decoration: none;
    font-size: 0.8rem;  /* Tamaño más pequeño para el submenú */
    padding: 8px 0;
    display: block;
    transition: color 0.3s ease;
}

.subNavLink:hover {
    color: #ffffff;
}

.noPagesMessage {
    color: #9ca3af;
    font-style: italic;
    font-size: 0.8rem;
    padding: 8px 0;
}

.mainContent {
    flex: 1;
    padding: 30px;
    background-color: #f9fafb;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.footer {
    text-align: center;
    padding: 15px 0;
    background-color: #1f2937;
    color: white;
    position: fixed;
    bottom: 0;
    width: calc(100% - 260px);
    font-size: 0.85rem;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}
